# Haskell
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config

# JAVA
*.class

# Package Files #
*.jar
*.war
*.ear
bin/*


# Clojure
pom.xml
*jar
/lib/
/classes/
/targets/
.lein-deps-sum
\#*
.\#*

# Sqlite
*.sqlite3
